<p>
  <b>Text:</b>
  <%=h @tweet.text %>
</p>

<p>
  <b>Username:</b>
  <%=h @tweet.username %>
</p>

<p>
  <b>Guid:</b>
  <%=h @tweet.guid %>
</p>

<p>
  <b>Lang:</b>
  <%=h @tweet.lang %>
</p>

<p>
  <b>Time zone:</b>
  <%=h @tweet.time_zone %>
</p>

<p>
  <b>Project:</b>
  <%=h @tweet.project_id %>
</p>

<hr>
<h1>Crowdsourcing Answers </h1>
<p>
  <b>Rewiew Status:</b>
  <%=h @tweet.review_status %>
</p>
<p>
  <b>HIT Url:</b>
  <%= h @tweet.hit_url %>
</p>
<p>
	<b>Worker ID:</b>
	<%= h @tweet.worker_id %>
</p>
<p>
  <b>Sentiment:</b>
  <%=h @tweet.sentiment %>
</p>


<p>
  <b>Question 1:</b>
  <%=h @project.question1 %>
  <b>Answer1:</b>
  <%=h @tweet.answer1 %>
</p>


<p>
  <b>Question2:</b>
  <%=h @project.question2 %>
  <b>Answer2:</b>
  <%=h @tweet.answer2 %>
</p>


<p>
  <b>Question3:</b>
  <%=h @project.question3 %>
  <b>Answer3:</b>
  <%=h @tweet.answer3 %>
</p>

<%= link_to 'Edit', edit_project_tweet_path(@project,@tweet) %> |
<%= link_to 'Back', project_tweets_path(@project) %>
