<h1>New project</h1>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <hr>
<h1>Twitter Stream Aggregation</h1>
<b>Important: The keywords are cobined with an AND operator</b>
  <p>
    <%= f.label :keyword1 %><br />
    <%= f.text_field :keyword1 %>
  </p>
  <p>
    <%= f.label :keyword2 %><br />
    <%= f.text_field :keyword2 %>
  </p>
  <p>
    <%= f.label :keyword3 %><br />
    <%= f.text_field :keyword3 %>
  </p>
  <hr>
<h1>Crowdsourcing Questions</h1>
 <b>Important: Please ask Questions that can be answered with a yes or no</b> 
 <p>
    <%= f.label :question1 %><br />
    <%= f.text_area :question1, :rows => 5 %>
  </p>
  <p>
    <%= f.label :question2 %><br />
    <%= f.text_area :question2, :rows => 5 %>
  </p>
  <p>
    <%= f.label :question3 %><br />
    <%= f.text_area :question3, :rows => 5 %>
  </p>
  <b>Important: The quality option selects only workers with an approval rate of higher > x </b>
  <p>
  	<%= f.label :quality_requirement %>
  	<%= f.text_field :quality_requirement, :value => 85 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', projects_path %>
